#dis{
    margin: 50px auto;
    width: 90%;
    height: auto;
    border: 1px solid rebeccapurple;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
#dis_cont{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    height: 400px;
    /* width: 30%; */
    margin: 20px;
    align-items: center;

}
#dis_cont img{
    height: 250px;
    width: 200px;
}